   <header>
        <h2>NAAM APP</h2>
        <!-- button -->
    </header>
    
    <main>
        <section>
            
            <div class="flex-space-between">
                <h3>Resultaten binnen 30 km</h3>
                <a href="filter.html">
                    <p>filter</p>
                </a>
            </div>


            <div class="flex-div">
                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>2 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-vrouw.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>4 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>6 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-vrouw.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>8 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>10 km</span>
                    </blockquote>
                </article>

            </div>
        </section>

        <aside class="sidebar">
            <h3 class="padding-bottom-2">Filter opties</h3>

            <fieldset>
                <p>Leeftijd</p>
                <input class="age-slider" type="range" min="50" max="120" value="75">
                <div class="flex-space-between">
                    <p>50 jaar</p>
                    <p>120 jaar</p>
                </div>
            </fieldset>

            <fieldset>
                <p>Afstand</p>
                <input class="age-slider" type="range" min="0" max="200" value="0">
                <div class="flex-space-between">
                    <p>0 km</p>
                    <p>200 km</p>
                </div>
            </fieldset>

        </aside>

    </main>

    <footer></footer>