<header>
        <h2>NAAM APP</h2>
        <!-- button -->
    </header>
    
    <main>
        <section>
            
            <div class="flex-space-between">
                <h3>Resultaten binnen 30 km</h3>
                <button class="sidebar-handler">Filter</button>
            </div>


            <div class="flex-div">
                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>2 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-vrouw.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>4 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>6 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-vrouw.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>8 km</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam Achternaam</p>
                        <span>10 km</span>
                    </blockquote>
                </article>

            </div>
        </section>


        <aside class="sidebar">
            <div class="flex-space-between">
              <h3 class="padding-bottom-2">Filter opties</h3>
              <p class="close-handler">Close</p>
            </div>

            <form class="sidebar-form" action="/" method="POST"> 
                <input type="text" name="naam">

                <button type="submit">Submit</button>
            </form>

        </aside>
    </main>

    <footer></footer>