<header>
        <h2>OLD LOVE</h2>
        <!-- button -->
    </header>
    
    <main>
        <section>
            
            <div class="flex-space-between">
                <h3>Resultaten</h3>
                <button class="sidebar-handler">Filter</button>
            </div>


            <div class="flex-div">

                {{!-- {{#each data}}
                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>{{ this.name }}</p>
                        <span>{{ this.age }}</span>
                        <span>{{ this.sex }}</span>
                        <span>{{ this.hobby }}</span>
                    </blockquote>
                </article>
                {{/each}} --}}

                <article>
                    <img class="image" src="img/bejaarden-vrouw.jpg">
                    <blockquote>
                        <p>Naam: Test data</p>
                        <span>Leeftijd: 90</span>
                        <span>Geslacht: V</span>
                        <span>Hobby: Bingo</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam: Test data</p>
                        <span>Leeftijd: 60</span>
                        <span>Geslacht: M</span>
                        <span>Hobby: Bingo</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-vrouw.jpg">
                    <blockquote>
                        <p>Naam: Test data</p>
                        <span>Leeftijd: 97</span>
                        <span>Geslacht: V</span>
                        <span>Hobby: Bingo</span>
                    </blockquote>
                </article>

                <article>
                    <img class="image" src="img/bejaarden-man.jpg">
                    <blockquote>
                        <p>Naam: Test data</p>
                        <span>Leeftijd: 77</span>
                        <span>Geslacht: M</span>
                        <span>Hobby: Bingo</span>
                    </blockquote>
                </article>

            </div>
        </section>


        <aside class="sidebar">
            <div class="flex-space-between">
              <h3 class="padding-bottom-2">Filter opties</h3>
              <p class="close-handler">Close</p>
            </div>

            <form class="sidebar-form" action="/filtered" method="POST"> 
                <div>
                    <label for="age-filter">Voer gewenste leeftijd in</label>
                    <input type="text" id="age-filter" name="age">
                </div>

                <button type="submit">Submit</button>
            </form>

        </aside>
    </main>

    <footer></footer>