<h3>{{ title }}</h3>

<form name="addperson" method="POST" action="addperson">
    <span>Name</span>
    <input class="input-person" type="text" placehodler="Name" name="person">

    <button class="submit-person" type="submit">Submit</button>
</form>